stock_odmf.jar
odmf.jar
dist/
build/
__pycache__/
*.pyc
PadConnect_ODMF_SurfaceGuard*_Magisk*.zip
# 本地 Android Platform Tools，不上传 GitHub
platform-tools/
adb.exe
AdbWinApi.dll
AdbWinUsbApi.dll
fastboot.exe
